<div class="container-fluid bampfa-splash">
	<div class="row">
		<div class="col-sm">
			<h1 style="font-size: 2.5em" class='section-heading'>Search the UC Botanical Garden Collection</h1>
			<p class="bampfa-splash-text">
				UC Botanical Garden lorem ipsum etc etc
			</p>
			<p class="bampfa-splash-text">
					<i>These are 12 random plants from the UC Botanical Garden collections.</i>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<%= render :partial => '/gallery/gallery'%>
		</div>
	</div>
</div>
