<div class="show-preview-heading">
	<hr>
	<h2 id="show-preview-title">Selection of nearby plants in garden bed: <%= garden_location %></h2>
</div>
<div class="show-preview">
	<%= generate_garden_bed_preview(garden_location) %>
</div>
