<script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
<footer class="site_footer container-fluid">
  <!-- <div class="container-fluid"> -->
    <div class="row" >

      <div class="col-sm-2 col-xs-4">
        <a href="https://botanicalgarden.berkeley.edu/">Garden homepage</a>
      </div>

      <div class="col-sm-2 col-xs-4" >
        <a href="https://botanicalgarden.berkeley.edu/about/">About the garden</a>
      </div>

      <div class="col-sm-2 col-xs-4">
        <a href="https://botanicalgarden.berkeley.edu/visit/whats-in-bloom/">What's in bloom</a>
      </div>

      <div class="col-sm-2 col-xs-4">
        <a href="#">Lorem</a>
      </div>

      <div class="col-sm-2 col-xs-4">
        <a href="#">Ipsum</a>
       </div>


    </div>

    <div class="row">
        <div class="col-xs-5 col-sm-4">
            <a href="https://botanicalgarden.berkeley.edu/"><img class="img-responsive" src="/botgarden-logo.svg" alt="uc botanical garden" style="object-fit:cover"></a>
        </div>
        <div class="col-xs-7 col-sm-8 site-footer-text">
            <p style="line-height: 1.2">
              Committed to
              <a href="https://dac.berkeley.edu/web-accessibility">accessibility,</a>
              <a href="https://ophd.berkeley.edu/policies-and-procedures/nondiscrimination-policy-statement">nondiscrimination</a> &amp;
              <a href="https://security.berkeley.edu/policy/privacy-statement-uc-berkeley-websites">privacy</a>.
            </p>
            <p>
              UC <br/>
              200 Centennial Dr., Berkeley, CA 97420-5045<br/>
              Lorem ipsum 
            </p>
            <p style="line-height: 1.2">UC Berkeley's
              <a href="https://rtl.berkeley.edu">Research, Teaching and Learning (RTL)</a>
              provides technical infrastructure and support for
              <a href="https://research-it.berkeley.edu/projects/collectionspace">CollectionSpace</a>,
              and for this website, using <a href="https://projectblacklight.org/"><img src="/blacklight-logo-vectorized.svg" alt="bampfa" style="max-width: 100px;"></a>
            </p>
            <p>&copy; <%= Time.current.year %> The Regents of the University of California, all rights reserved.</p>
        </div>
    </div>
  <!-- </div> -->
</footer>
