<div class="row">
	<div class="col-sm-12">
		<p>One option is to have the request to map search results take you to a new tab where you see the results on the berkeleymapper site. We could also use this page as a place to download the csv file that gets created? TBD.</p>
	</div>
</div>